<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Review that matters</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center" th:text="${post.title}">Post</h1>
            <h6 class="text-center" th:text="'Written by : ' +  ${post.user.name}">Author</h6>
            <h6 class="text-center" th:text="'Date : ' +  ${post.createTs}">Date</h6>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td th:text="${post.content}">Content</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>