<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Review that matters</title>
</head>
<body>
<section>
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card">
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
                    </div>
                    <div class="container text-center">
                        <img class="mx-auto" style="width: 50px;" src="" th:src="@{/img/register.png}"/>
                    </div>

                    <h1 class="text-center">Sign Up here</h1>
                    <form novalidate action="" th:action="@{/do_signup}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="name_field">Name</label>
                            <input name="name" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                   id="name_field" aria-describedby="nameHelp" placeholder="Enter name"
                                   th:value="${user.name}" required/>
                        </div>
                        <!--<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>-->
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        <div class="form-group">
                            <label for="email_field">Email</label>
                            <input name="email" type="email" class="form-control" id="email_field"
                                   aria-describedby="nameHelp" placeholder="Enter email" th:value="${user.email}"
                                   required/>
                        </div>
                        <div class="form-group">
                            <label for="password_field">Password</label>
                            <input name="password" type="password" class="form-control" id="password_field"
                                   aria-describedby="nameHelp" placeholder="Enter password" required/>
                        </div>
                        <div class="form-group">
                            <textarea name="about" th:value="${user.about}" placeholder="Enter something about yourself"
                                      rows="10" class="form-control">Enter something about yourself</textarea>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary bg-primary text-white">Submit</button>
                            <button type="reset" class="btn btn-primary bg-primary text-white">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>